MYSQL_NAME=nome-do-banco-de-dados
MYSQL_USER=usuario-do-banco
MYSQL_PASSWORD=senha-do-banco
MYSQL_HOST=endereco-ip-do-banco
MYSQL_PORT=porta-do-banco

SECRET_KEY=chave-secreta-do-django
DEBUG=True-ou-False